.header a{
	color: #000;
}
.header {
	background-color: #fff;
	width: 100%;
	height: 10%;
	z-index: 3;
	position: fixed;
	top: 0;
}
.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}
.header ul a:hover{
	background-color: #ddd;
}
.header ul a{
	display: block;
	padding: 10px;
	text-decoration: none;
}
.header .logo {
	float: right;
	display: block;
	margin: 20px 20px 0 0;
}
.header .menu{
	clear: both;
	max-height: 0;
	transition:max-height 0.2s ease-out;
} 
.header .menu-icon {
	padding: 28px 20px;
	position: relative;
	float: left;
	cursor: pointer;
}
.header .menu-icon .nav-icon {
	background: #333;
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	transition: background 0.2s ease-out;

}
.header .menu-icon .nav-icon:before {
	background: #123;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	top: 5px;
}
.header .menu-icon .nav-icon:after {
	background: #123;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	top: -5px;
}
.header .menu-btn{
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 110px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform: rotate(-45deg);
	top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform: rotate(45deg);
	top: 0;
}
@media (min-width: 1125px) {
	.header li {
		float: left;
	}
	.header li a{
		padding: 20px 30px;
	}
	.header .menu{
		clear: none;
		max-height: none;
		float: left;
	}
	.header .menu-icon {
		display: none;
	}

}