@import url("menu.css");
body {
	margin: 0;
	padding: 0;
	font-style: none;
	background-color: #fff;
}
i {
	color: #000;
}
.overall {
	width: 80%;
	margin: 0 auto;
}
.flex-container {
	display: flex;
	flex-direction: column;
}
.brand {
	color: blue;
	text-shadow: 2px 2px 3px grey;
	background-color: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
	margin-top: 15%;
}
.letter-i {
	color: red;
}
h2, h3 {
	text-align: center;
	font-family: "Montserrat", sans-serif;
}
h2{
	color: grey;
}
h3{
	color: red;
}
h4{
	font-size: 1rem;
	font-family: "Ubuntu", sans-serif;
}
.registration {
	text-align: center;
}
.registration a{
	text-decoration: none;
	color: #000;
}
img {
	width: 95%;
	margin: auto;
}
.container {
	display: grid;
	width: 90%; 
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
.item1{
	grid-column: 1/5;
}
.item2{
	grid-column: 1/2;
	grid-row: 2/3;
}
.item3{
	grid-column: 2/3;
	grid-row: 2/3;
}
.item4{
	grid-column: 1/5;
	grid-row: 3/4;
}
.item5{
	grid-column: 1/2;
	grid-row: 4/5;
}
.item6{
	grid-column: 2/3;
	grid-row: 4/5;
}
.item7{
	grid-column: 3/4;
	grid-row: 4/5;
}
input[type="radio"]:checked:after {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: relative;
	top: -2px;
	left: -1px;
	content: "";
	display: inline-block;
	background-color: #000;
	border: 2px solid white;
}
label{
	font-size: 0.9rem;
}
.report{
	display: flex;
	justify-content: flex-end;
}
.btn {
  background-color: red;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 11px 10px 11px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 105px;
  border-width: 0;
  margin: 40px 20px;
}
.btn:hover {
  background-color: grey;
  text-decoration: none;
}

@media (max-width: 575px) {
	.overall {
		width: 100%;
	}
	.brand {
		margin-top: 100px;
		text-align: center;
		font-size: 1.3rem;
	}
	h2, h3 {
		font-size: 0.8rem;
	}
	h4{
		font-size: 0.8rem;
	}
	.btn {
		font-size: 0.7rem;
  		padding: 5px 11px 5px 11px;
	}
}	
@media (max-width: 320px) {
	label {
		font-size: 0.6rem;
	}
}	
